{% extends 'novel/base.html' %}
{% block title %}{{ Книги автора author.name }}{% endblock %}
{% block meta %}
    <meta name="description" content="Переводы книг автора {{ author.name }}">
{% endblock %}
{% block content %}
    <h1>Книги автора  {{ author.name }}</h1>
    <div id="author" class="hidden">{{ author.name }}</div>
    <div class="author-books" id="section">
    </div>
    <div id="pagination">
    <div class="cards">
        {% include 'novel/novel_card.html' %}
    </div>
{% endblock %}
