<!doctype html>
<html lang="ru" data-colorScheme="light">
{% load static %}
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/png" href="{% static '/img/favicon.png' %}"/>
    {% block meta %}
        <meta name="description" content="Сайт для чтения переводов китайский веб-новел, лайт-новел, фанфиков.">
    {% endblock %}
    <meta name="theme-color" content="#fafafa">

    {% load compress %}
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'css/main.scss' %}">
    {% endcompress %}
    {% compress js %}
        <script type="text/javascript" src="{% static 'novel.js' %}"></script>
    {% endcompress %}
    {% block loadscss %}{% endblock %}
</head>

<body>
{% csrf_token %}

<button class="backToTop noselect>">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M0 16.67l2.829 2.83 9.175-9.339 9.167 9.339 2.829-2.83-11.996-12.17z"/>
    </svg>
</button>

{% block header %}
    <header class="header">
        <div class="header__limiter">
            <a href="{% url 'index' %}" class="header__logo noselect">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 81.3 8.12">
                    <defs>
                        <style>.a {
                        }</style>
                    </defs>
                    <path class="a"
                          d="M10.36,0,8.22,8H6.71L5.12,2.12,3.67,8H2.19L0,0H1.53L3.08,5.83,4.52,0H6L7.57,5.83,9.09,0Z"/>
                    <path class="a"
                          d="M14.74,6.11,16,6.28A2.58,2.58,0,0,1,15,7.6a2.74,2.74,0,0,1-1.71.52,2.52,2.52,0,0,1-2-.83,3.18,3.18,0,0,1-.75-2.23,3.24,3.24,0,0,1,.76-2.22A2.54,2.54,0,0,1,13.41,2a2.37,2.37,0,0,1,1.95.86,3.47,3.47,0,0,1,.69,2.23V5.2H12a3.54,3.54,0,0,0,.11,1,1.34,1.34,0,0,0,1.31.9A1.31,1.31,0,0,0,14.74,6.11Zm-.08-1.77a1.48,1.48,0,0,0-.38-1,1.26,1.26,0,0,0-.94-.41,1.24,1.24,0,0,0-.92.38A1.72,1.72,0,0,0,12,4.34Z"/>
                    <path class="a"
                          d="M17.88,8h-.61V0h1.34V2.89A2.24,2.24,0,0,1,19.37,2a1.8,1.8,0,0,1,.89-.22,2,2,0,0,1,1.61.83,3.65,3.65,0,0,1,.64,2.29,4,4,0,0,1-.63,2.26A2.15,2.15,0,0,1,18.23,7Zm.73-2.53A1.69,1.69,0,0,0,19,6.64a1.16,1.16,0,0,0,.89.38,1.11,1.11,0,0,0,.88-.43,2.94,2.94,0,0,0,.39-1.7,2.59,2.59,0,0,0-.33-1.43,1,1,0,0,0-.9-.5,1.12,1.12,0,0,0-.91.43,1.79,1.79,0,0,0-.36,1.2Z"/>
                    <path class="a" d="M29.85,8h-1.4l-3-5.11-.23-.38L25,2.14V8H23.81V0h1.6l2.8,4.71.51.86V0h1.13Z"/>
                    <path class="a"
                          d="M33.85,8.12a2.31,2.31,0,0,1-2-.94A3.51,3.51,0,0,1,31.15,5a3.2,3.2,0,0,1,.77-2.19,2.55,2.55,0,0,1,2-.87,2.5,2.5,0,0,1,2,.85A3.16,3.16,0,0,1,36.66,5a3.17,3.17,0,0,1-.8,2.25A2.62,2.62,0,0,1,33.85,8.12Zm0-1.1c.89,0,1.34-.67,1.34-2a2.66,2.66,0,0,0-.32-1.43,1.07,1.07,0,0,0-1-.53,1.11,1.11,0,0,0-1,.54A2.69,2.69,0,0,0,32.57,5a2.55,2.55,0,0,0,.36,1.48A1.11,1.11,0,0,0,33.9,7Z"/>
                    <path class="a" d="M42.19,2.08,40.18,8H39.07L37,2.08h1.4l1.38,4,1.35-4Z"/>
                    <path class="a"
                          d="M46.72,6.11l1.21.17A2.58,2.58,0,0,1,47,7.6a2.74,2.74,0,0,1-1.71.52,2.52,2.52,0,0,1-2-.83,3.18,3.18,0,0,1-.75-2.23,3.24,3.24,0,0,1,.76-2.22,2.54,2.54,0,0,1,2-.88,2.37,2.37,0,0,1,2,.86A3.48,3.48,0,0,1,48,5.05V5.2H44a3.54,3.54,0,0,0,.11,1,1.34,1.34,0,0,0,1.31.9A1.31,1.31,0,0,0,46.72,6.11Zm-.08-1.77a1.48,1.48,0,0,0-.38-1,1.29,1.29,0,0,0-1.86,0A1.72,1.72,0,0,0,44,4.34Z"/>
                    <path class="a" d="M50.58,8H49.25V0h1.33Z"/>
                    <path class="a"
                          d="M51.47,6.64l1.25-.24A1.22,1.22,0,0,0,54,7.12c.83,0,1.24-.25,1.24-.73A.47.47,0,0,0,55,6a1.14,1.14,0,0,0-.46-.21l-1.08-.2c-1.19-.23-1.79-.81-1.79-1.75a1.79,1.79,0,0,1,.57-1.34A2.37,2.37,0,0,1,54,2c1.25,0,2,.46,2.29,1.37l-1.19.24c-.12-.44-.48-.66-1.06-.66s-1.07.22-1.07.66.29.53.86.64l1.27.27a1.61,1.61,0,0,1,1.48,1.7,1.62,1.62,0,0,1-.76,1.46,3.65,3.65,0,0,1-3.41.11A1.71,1.71,0,0,1,51.47,6.64Z"/>
                    <path class="a" d="M59,6.46V8H57.56V6.46Z"/>
                    <path class="a"
                          d="M63.94,5.82l1.15.12a2.78,2.78,0,0,1-.86,1.65,2.36,2.36,0,0,1-1.54.53,2.2,2.2,0,0,1-1.88-.89A3.6,3.6,0,0,1,60.15,5a3.36,3.36,0,0,1,.72-2.21A2.37,2.37,0,0,1,62.79,2a2.16,2.16,0,0,1,2.3,2l-1.15.15c-.1-.73-.46-1.1-1.08-1.1a1,1,0,0,0-1,.6,3.13,3.13,0,0,0-.31,1.44,2.56,2.56,0,0,0,.32,1.38,1,1,0,0,0,.9.48C63.36,7,63.75,6.58,63.94,5.82Z"/>
                    <path class="a"
                          d="M68.43,8.12a2.32,2.32,0,0,1-2-.94A3.57,3.57,0,0,1,65.74,5a3.19,3.19,0,0,1,.76-2.19,2.55,2.55,0,0,1,2-.87,2.5,2.5,0,0,1,2,.85A3.16,3.16,0,0,1,71.24,5a3.17,3.17,0,0,1-.8,2.25A2.62,2.62,0,0,1,68.43,8.12Zm0-1.1q1.35,0,1.35-2a2.66,2.66,0,0,0-.33-1.43,1.07,1.07,0,0,0-1-.53,1.11,1.11,0,0,0-1,.54A2.69,2.69,0,0,0,67.15,5a2.55,2.55,0,0,0,.36,1.48A1.11,1.11,0,0,0,68.48,7Z"/>
                    <path class="a"
                          d="M81.3,8H79.9V4.31c0-.76-.34-1.15-1-1.15a1.17,1.17,0,0,0-.95.44,2,2,0,0,0-.35,1.29V8H76.16V4.31c0-.77-.32-1.16-1-1.16a1.2,1.2,0,0,0-1,.47,1.86,1.86,0,0,0-.4,1.27V8H72.46V2.08h1.29V3.34a2.08,2.08,0,0,1,2-1.38,1.65,1.65,0,0,1,1.69,1.38A2.19,2.19,0,0,1,79.4,2a1.83,1.83,0,0,1,1.38.53,1.86,1.86,0,0,1,.52,1.32Z"/>
                </svg>
            </a>
            <a href="{% url 'index' %}" class="header__logo_mobile noselect">
                <img src="{% static '/img/siteLogoMobile.png' %}" alt="site logo">
            </a>
            <input type="checkbox" id="menuToggle">
            <label for="menuToggle" class="hamburger-menu__btn noselect"><span></span></label>
            <nav class="header__menu noselect">
                <div class="header__menu-container">
                    <div class="header__menu-item">
                        <a href="{% url 'catalog' %}" class="header__menu-link">
                            <div class="header__menu-icon header__menu-icon_catalog">
                                <svg data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 298 287.29">
                                    <path d="M162.51,260.49,150,281l-12.49-20.48A42.74,42.74,0,0,0,101,240l-91,.14V20h92.54a45.18,45.18,0,0,1,36,17.91L150,53l11.44-15.12a45.18,45.18,0,0,1,36-17.91H290V240H199A42.72,42.72,0,0,0,162.51,260.49Z"
                                          transform="translate(-1 -11)" fill="none" stroke-miterlimit="10" stroke-width=26
                                          opacity="0.99"/>
                                    <line x1="148.5" y1="42" x2="148.5" y2="259.71" fill="none" stroke-miterlimit="10"
                                          stroke-width="26"/>
                                    <line x1="62.84" y1="144.5" x2="116.12" y2="144.5" fill="none" stroke-miterlimit="10"
                                          stroke-width="20"/>
                                    <line x1="39.41" y1="170.5" x2="116.12" y2="170.5" fill="none" stroke-miterlimit="10"
                                          stroke-width="20"/>
                                </svg>
                            </div>
                            <span>Каталог</span>
                        </a>
                    </div>
                    <div class="header__menu-item">
                        <a href="{% url 'tags' %}" class="header__menu-link">
                            <div class="header__menu-icon header__menu-icon_tags">
                                <svg data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 291.61 291.61">
                                    <path d="M279.65,187l-94,94a22.87,22.87,0,0,1-32.24-.11L20.94,148.41a11.38,11.38,0,0,1-3.32-7.49L13.46,53.77a37.18,37.18,0,0,1,39-39L139.58,19a11.39,11.39,0,0,1,7.49,3.32L279.53,154.73A22.87,22.87,0,0,1,279.65,187Z"
                                          transform="translate(-4.03 -5.36)" fill="none" stroke-miterlimit="10"
                                          stroke-width="26"/>
                                    <ellipse cx="108" cy="110" rx="29.39" ry="29.61"
                                             transform="translate(-50.18 103.23) rotate(-45)" fill="none"
                                             stroke-miterlimit="10" stroke-width="26"/>
                                </svg>
                            </div>
                            <span>Теги</span>
                        </a>
                    </div>
                    <div class="header__menu-item">
                        <a href="{% url 'contacts' %}" class="header__menu-link">
                            <div class="header__menu-icon header__menu-icon_contacts">
                                <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 290 289">
                                    <path d="M255.09,42.31Q215.21,6,155.94,6,93.68,6,49.83,47.3T6,150.12q0,58.95,41.69,101.4Q89.54,294,160.22,294a213,213,0,0,0,83.69-17.33,17.54,17.54,0,0,0,9.63-22.74h0A17.87,17.87,0,0,0,230,244.41q-35.69,15.17-69.82,15.16-54.25,0-84-32.66T46.39,150.29q0-47.76,31.87-79.72t78.22-32q42.74,0,72.2,26.26T258.12,131c0,18.16-4.52,33.32-13.5,45.36s-18.32,18.1-28,18.1c-5.24,0-7.85-2.77-7.85-8.35a151.22,151.22,0,0,1,1-15.92l11.06-89.36H182.77l-2.44,8.75q-14.55-11.72-31.88-11.75-27.48,0-47,21.62T81.83,155.05c0,22.15,5.77,40.07,17.37,53.64s25.52,20.39,41.81,20.39q21.87,0,37.36-18.1,11.69,17.37,34.43,17.34,33.47,0,57.81-28.79T295,130.14Q295,78.68,255.09,42.31ZM167.42,177.5C160.7,186.43,152.67,191,143.33,191q-9.54,0-15.34-9.87t-5.89-24.56q0-18.15,8.21-29.26c5.47-7.4,12.25-11.16,20.34-11.16,7,0,13.26,2.76,18.73,8.34s8.21,13,8.21,22.27A50.47,50.47,0,0,1,167.42,177.5Z"
                                          transform="translate(-5.5 -5.5)" stroke-miterlimit="10"/>
                                </svg>
                            </div>
                            <span>Контакты</span>
                        </a>
                    </div>
                </div>
            </nav>
            <div class="filler"></div>
            <div class="header__left-container">
                <div class="changeColorScheme header__changeColorScheme">
                    <div class="changeColorScheme__moon changeColorScheme__moon_hide">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="feather feather-moon">
                            <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
                        </svg>
                    </div>
                    <div class="changeColorScheme__sun changeColorScheme__sun_hide">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="feather feather-sun">
                            <circle cx="12" cy="12" r="5"></circle>
                            <line x1="12" y1="1" x2="12" y2="3"></line>
                            <line x1="12" y1="21" x2="12" y2="23"></line>
                            <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
                            <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
                            <line x1="1" y1="12" x2="3" y2="12"></line>
                            <line x1="21" y1="12" x2="23" y2="12"></line>
                            <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
                            <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
                        </svg>
                    </div>
                </div>
                {% if user.is_authenticated %}
                    <div class="header__authentication noselect authenticated">
                        <div class="authenticated__account" id="accountIco" data-menu="true">
                            <img src="{{ user.image.url }}" class="authenticated__account-image" id="headerAccImage"
                                 data-menu="true">
                        </div>
                        <div class="authenticated__dropdown dropdown" id="accountDrop" data-menu="true">
                            <ul>
                                <li data-menu="true">
                                    <svg version="1.1" class="dropdown__icon" id="Layer_1"
                                         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                         x="0px" y="0px"
                                         width="512px" height="512px" viewBox="0 0 512 512"
                                         enable-background="new 0 0 512 512" xml:space="preserve">
<g id="user">
	<g>
		<path d="M256.167,277.721c-55.4,0-100.471-45.071-100.471-100.471S200.767,76.779,256.167,76.779
			c55.4,0,100.471,45.071,100.471,100.471S311.567,277.721,256.167,277.721z"/>
	</g>
    <g>
		<path d="M437.19,74.98C388.83,26.63,324.55,0,256.17,0S123.5,26.63,75.15,74.98S0.17,187.62,0.17,256S26.8,388.67,75.15,437.02
			C123.5,485.37,187.79,512,256.17,512s132.66-26.63,181.021-74.98C485.54,388.67,512.17,324.38,512.17,256
			S485.54,123.33,437.19,74.98z M69.31,399.37C38.75,359.63,20.55,309.9,20.55,256c0-129.92,105.7-235.62,235.62-235.62
			S491.78,126.08,491.78,256c0,53.92-18.2,103.67-48.79,143.42c-7.58-25.359-26.88-48-56.183-65.311
			c-35.407-20.92-82.02-32.439-131.24-32.439c-49.16,0-95.57,11.521-130.68,32.46C95.91,351.41,76.82,374.01,69.31,399.37z"/>
	</g>
</g>
</svg>
                                    <a href="{% url 'profile' %}" class="dropdown__link">Аккаунт</a>
                                </li>
                                <li>
                                    <svg viewBox="0 0 32 32" class="dropdown__icon" xmlns="http://www.w3.org/2000/svg">
                                        <defs>
                                            <style>.cls-1 {
                                                fill: none;
                                                stroke: #000;
                                                stroke-linecap: round;
                                                stroke-linejoin: round;
                                                stroke-width: 2px;
                                            }</style>
                                        </defs>
                                        <title/>
                                        <g id="logout">
                                            <line class="cls-1" x1="15.92" x2="28.92" y1="16" y2="16"/>
                                            <path d="M23.93,25v3h-16V4h16V7h2V3a1,1,0,0,0-1-1h-18a1,1,0,0,0-1,1V29a1,1,0,0,0,1,1h18a1,1,0,0,0,1-1V25Z"/>
                                            <line class="cls-1" x1="28.92" x2="24.92" y1="16" y2="20"/>
                                            <line class="cls-1" x1="28.92" x2="24.92" y1="16" y2="12"/>
                                            <line class="cls-1" x1="24.92" x2="24.92" y1="8.09" y2="6.09"/>
                                            <line class="cls-1" x1="24.92" x2="24.92" y1="26" y2="24"/>
                                        </g>
                                    </svg>
                                    <a href="{% url 'logout' %}?next={{ request.path }}"
                                       class="dropdown__link">Выйти</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                {% else %}
                    <div class="header__authentication authentication noselect">
                        <a href="{% url 'login' %}?next={{request.path}}"
                           class="authentication__btn authentication__login-btn noselect btn-border-anim">
                            Вход
                            <svg xmlns="http://www.w3.org/2000/svg" class="authentication__icon"
                                 style="max-height: 30px; max-width: 30px; margin-top: 1px;" viewBox="0 0 310 330">
                                <path
                                        d="M25,180H208.79l-44.4,44.39a15,15,0,0,0,21.22,21.22l70-70a15,15,0,0,0,0-21.21l-70-70a15,15,0,0,0-21.22,21.22L208.79,150H25a15,15,0,0,0,0,30Z"
                                        transform="translate(-10)"/>
                                <path
                                        d="M175,30H290V300H175a15,15,0,0,0,0,30H305a15,15,0,0,0,15-15V15A15,15,0,0,0,305,0H175a15,15,0,0,0,0,30Z"
                                        transform="translate(-10)"/>
                            </svg>
                        </a>
                        <a href="{% url 'registration' %}?next={{request.path}}"
                           class="authentication__btn authentication__register-btn noselect btn-border-anim">
                            Регистрация
                            <svg version="1.1" width="15" style="max-height: 30px; max-width: 30px"
                                 class="authentication__icon" xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 1523 1639.7" xml:space="preserve">
          <path d="M976.6,1011.3c25.4,9.9,50.2,21.3,74.2,34c29.9,15.8,41.3,52.7,25.5,82.6c-15.8,29.9-52.7,41.3-82.6,25.5
               C907.8,1108,812,1084,712.6,1084c-289.9,0-537.2,206.2-591.5,487.2c-6.4,33.1-38.5,54.8-71.6,48.4c-33.1-6.4-54.8-38.5-48.4-71.6
               c47.9-248.4,221-448,447.7-536.7c-165-92.4-276.5-268.9-276.5-471.3c0-298.2,241.9-540,540.3-540c298.4,0,540.3,241.8,540.3,540
               C1252.9,742.4,1141.5,918.8,976.6,1011.3L976.6,1011.3z M1130.7,540c0-230.7-187.2-417.7-418.1-417.7
               c-230.9,0-418.1,187-418.1,417.7c0,230.7,187.2,417.7,418.1,417.7C943.5,957.7,1130.7,770.7,1130.7,540L1130.7,540z M1158.1,1287.7
               v-183.3c0-10.9,2.9-21.5,8.3-30.9c5.3-9.1,12.9-16.6,21.9-21.9c9.4-5.5,20-8.4,30.9-8.3c10.9,0,21.5,2.9,30.9,8.3
               c9.1,5.3,16.6,12.9,21.9,21.9c5.5,9.4,8.4,20,8.3,30.9v183.3h181.5c33.8,0,61.1,27.4,61.1,61.1c0,33.8-27.4,61.1-61.1,61.1h-181.5
               v181.3c0,10.9-2.9,21.5-8.3,30.9c-5.3,9.1-12.9,16.6-21.9,21.9c-9.4,5.5-20,8.4-30.9,8.3c-10.9,0-21.5-2.9-30.9-8.3
               c-9.1-5.3-16.6-12.9-21.9-21.9c-5.5-9.4-8.4-20-8.3-30.9v-181.3H974.5c-33.8,0-61.1-27.4-61.1-61.1c0-33.8,27.4-61.1,61.1-61.1
               L1158.1,1287.7L1158.1,1287.7z"/>
        </svg>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </header>
{% endblock %}

<main class="page">
    <div class="page__limiter">
        <div class="flex-container">
            <div class="page__col-1">
                {% block content %}
                    <h1> PAGE CONTENT </h1>
                {% endblock %}
            </div>
            {#          <div class="page__col-2">#}
            {#              <div class="info-board"></div>#}
            {#          </div>#}
        </div>
    </div>
</main>

<footer class="footer">
    <div class="footer__limiter"></div>
</footer>

</body>
</html>