{% extends "novel/base.html" %}
{% block title %}Novel{% endblock %}
{% block content %}
  <div class="search">
    <form id="search-form">
      <input type="text" name="q" class="search__input"
             placeholder="Поиск по названию, автору или тегам (разделенных запятыми)">
      <label for="search-submit" class="search__icon-wraper noselect">
        <svg class="search__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
             viewBox="0 0 24 24">
          <path
              d="M9.145 18.29c-5.042 0-9.145-4.102-9.145-9.145s4.103-9.145 9.145-9.145 9.145 4.103 9.145 9.145-4.102 9.145-9.145 9.145zm0-15.167c-3.321 0-6.022 2.702-6.022 6.022s2.702 6.022 6.022 6.022 6.023-2.702 6.023-6.022-2.702-6.022-6.023-6.022zm9.263 12.443c-.817 1.176-1.852 2.188-3.046 2.981l5.452 5.453 3.014-3.013-5.42-5.421z"/>
        </svg>
      </label>
      <input type="submit" id="search-submit" class="hidden" id="searchSubmit">
    </form>
  </div>
  <div class="popular-tags">
    {% for tag in popular_tags %}
      <a href="#" class="popular-tags__tag">{{ tag }}</a>
    {% endfor %}
  </div>
  <section class="last-books" id="section">

    <h2 class="sectionTitle">Последние Книги</h2>

    {% for novel in novel %}
      <div class="bookCard">
        <div class="bookCard__container">
          <div class="bookCard__column-1">
            <a href="{% url 'novels' novel.id %}" class="bookCard__image noselect">
              <img src="{{ novel.book_image.url }}" alt="Cover of the book">
            </a>
            <div class="bookCard__buttons noselect">
              <a href="{% url 'novels' novel.id %}" class="btn bookCard__btn btn-border-anim">Читать</a>
            </div>
          </div>
          <div class="bookCard__column-2">
            <a href="{% url 'novels' novel.id %}" class="bookCard__title">{{ novel.title }}</a>
            {% if novel.adult_only %}
              <span class="bookCard__adultOnly"> [R18+]</span>
            {% endif %}
            <div class="bookCard__metaData">
              <a href="#" class="bookCard__author">{{ novel.author }}</a>
              {% load number_words_filter %}
              <span class="bookCard__numWords">
                {{ novel.words|number_words_filter }}
              </span>
              <span class="bookCard__status">{{ novel.status|title }}</span>
            </div>
            <div class="bookCard__tags">
              {% for tag in novel.tags.all %}
                <a href="#" class="meta__tag bookCard__tag">{{ tag.name }}</a>
              {% endfor %}
            </div>
            <div class="bookCard__description">
              {{ novel.description }}
            </div>
          </div>
        </div>
        {% load fixtimesince %}
        <div class="bookCard__uploadTime">{{ novel.created_at|timesince|fixtimesince}}</div>
      </div>
    {% endfor %}
  </section>
{% endblock %}
