{% extends 'novel/base.html' %}
{% block title %}page{% endblock %}
{% load static %}
{% load compress %}
{% block loadscss %}
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'css/novel_page.scss' %}">
    {% endcompress %}
{% endblock %}
{% block content %}
    <div class="book">
        <div class="info">
            <div class="info-bg"></div>
            <div class="flex-container">
                <div class="book__image noselect">
                    <a href="#" class="bookCard__image">
                        <img src="{{ novel.book_image.url }}" id="bookImage" alt="Cover of the book">
                    </a>
                </div>
                <div class="meta">
                    <div id="novelId" style="display: none;">{{ novel.id }}</div>
                    <h1 href="#" class="meta__title">{{ novel.title }}</h1>
                    {% if novel.adult_only %}<span class="bookCard__adultOnly">[R18+]</span>{% endif %}
                    <p class="meta__altTitle">
                        Альтернативное название: {{ novel.alt_title }}
                    </p>
                    <p class="meta__updated-data">
                        <span>Автор: </span>
                        <a href="{% url 'author' novel.author.id %}" class="meta__author">{{ novel.author }}
                        </a>
                    </p>

                    <p class="meta__updated-data">
                        Загружено: <span>{{ novel.time_from_upload }}</span>
                    </p>
                    <p class="meta__words-count">
                        Количество слов: {{ novel.number_words_formatted }}
                    </p>
                    <p class="meta__status">
                        Статус: {{ novel.status }}
                    </p>
                    <div class="meta__tags">
                        Теги:
                        {% for tag in novel.tags.all %}
                            <a href="{% url 'tag' tag.name %}"
                               class="meta__tag bookCard__tag">{{ tag.name }}</a>{% endfor %}
                    </div>
                </div>
            </div>
            <div class="info__description">{{ novel.description }}</div>
            <div class="buttons noselect">
                <a href="{% url 'read' novel.id '1' %}"
                   class="btn meta__btn btn-border-anim">Прочитать
                </a>
                {% if user.is_authenticated %}
                    <button class="btn meta__btn btn-border-anim" style="{% if bookshelf %}display:none;{% endif %}"
                            id="bookShelfAdd">Добавить на
                        <br>
                        книжную полку
                    </button>
                    <button class="btn meta__btn btn-border-anim" style="{% if not bookshelf %}display:none;{% endif %}"
                            id="bookShelfRemove">Убрать с
                        <br>
                        книжной полки
                    </button>
                {% endif %}
                {% if user.is_superuser %}
                    <a href="{% url 'add_chapter' novel.id %}" class="btn">[admin]Добавить следущую главу</a>
                {% endif %}
            </div>
        </div>
        <div class="chapters">
            <h2>Список глав</h2>
            <div class="chapters-box">
                {% for chapter in chapters %}
                    <div class="chapter-wrap">
                        <a href="{% url 'read' novel.id chapter.number %}"
                           class="chapter">
                            Глава {{ chapter.number }} {{ chapter.title }}
                        </a>
                        {% if user.is_superuser %}
                            <a class="chapter-edit" href="{% url 'edit_chapter' novel.id chapter.number %}" class="btn">[admin]Редактировать</a>
                        {% endif %}
                    </div>

                {% endfor %}
            </div>
        </div>
        <div class="rate">
            <h2 class="rate__title">Комментировать</h2>
            <form action="#" class="rate__form" id="commentForm">
                <div class="rate__form-errors" id="commentFormErrors"></div>
                <input name="parent_id" type="hidden" id="commentParent">
                <div id="commentTextAreaContainer">
                    {{ comment_form }}
                </div>
                <button type="submit" class="btn rate__submit">Отправить</button>
            </form>
        </div>
        {{ user.comment_likes }}
        <div class="comments">
            <h2 class="rate__title">Коментарии</h2>
            <div id="comments">
            </div>
        </div>
    </div>
{% endblock %}
