{% extends 'novel/base.html' %}
{% block title %}page{% endblock %}
{% load static %}
{% load compress %}
{% block loadscss %}
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'css/novel_page.scss' %}">
    {% endcompress %}
{% endblock %}
{% block content %}
    <div class="book">
        <div class="info">
            <div class="info-bg"></div>
            <div class="flex-container">
                <div class="book__image noselect">
                    <a href="#" class="bookCard__image">
                        <img src="{{ novel.book_image.url }}" id="bookImage" alt="Cover of the book">
                    </a>
                </div>
                <div class="meta">
                    <div id="novelId" style="display: none;">{{ novel.id }}</div>
                    <h1 href="#" class="meta__title">{{ novel.title }}</h1>
                    {% if novel.adult_only %}<span class="bookCard__adultOnly">[R18+]</span>{% endif %}
                    <p class="meta__altTitle">
                        Альтернативное название: {{ novel.alt_title }}
                    </p>
                    <p class="meta__updated-data">
                        <span>Автор: </span>
                        <a href="{% url 'author' novel.author.id %}" class="meta__author">{{ novel.author }}
                        </a>
                    </p>

                    <p class="meta__updated-data">
                        Загружено: <span>{{ novel.time_from_upload }}</span>
                    </p>
                    <p class="meta__words-count">
                        Количество слов: {{ novel.number_words_formatted }}
                    </p>
                    <p class="meta__status">
                        Статус: {{ novel.status }}
                    </p>
                    <div class="meta__tags">
                        Теги:
                        {% for tag in novel.tags.all %}
                            <a href="{% url 'tag' tag.name %}"
                               class="meta__tag bookCard__tag">{{ tag.name }}</a>{% endfor %}
                    </div>
                </div>
            </div>
            <div class="info__description">{{ novel.description }}</div>
            <div class="buttons noselect">
                <a href="{% url 'read' novel.id '1' %}"
                   class="btn meta__btn btn-border-anim">Прочитать
                </a>
                {% if user.is_authenticated %}
                    <button class="btn meta__btn btn-border-anim" style="{% if bookshelf %}display:none;{% endif %}"
                            id="bookShelfAdd">Добавить на
                        <br>
                        книжную полку
                    </button>
                    <button class="btn meta__btn btn-border-anim" style="{% if not bookshelf %}display:none;{% endif %}"
                            id="bookShelfRemove">Убрать с
                        <br>
                        книжной полки
                    </button>
                {% endif %}
            </div>
        </div>
        <div class="chapters">
            <h2>Список глав</h2>
            <div class="chapters-box">
                {% for chapter in chapters %}
                    <a href="{% url 'read' novel.id chapter.number %}"
                       class="chapter">Глава {{ chapter.number }} {{ chapter.title }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="rate">
            <h2 class="rate__title">Оценить книгу</h2>
            <textarea id="rate"
                      class="rate__textarea"
                      name=""
                      id=""
                      placeholder="Напишите комментарий"></textarea>
            <div class="rate__row">
                <div class="rate__stars">
                    <input type="radio" id="star5" name="rate" value="5"/>
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4"/>
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3"/>
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2"/>
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1"/>
                    <label for="star1" title="text">1 star</label>
                </div>
                <button type="submit" class="btn rate__submit" type="submit">Отправить</button>
            </div>
        </div>
        <div class="comments">
            <div class="comment">
                <div class="comment__avatar">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 126 126">
                        <defs>
                            <style>.a {
                                fill: #1d1d1b;
                            }
                            </style>
                        </defs>
                        <rect class="a" width="126" height="126"/>
                    </svg>
                </div>
                <div class="comment__data">
                    <span class="comment__name">Youan</span>
                    <span class="comment__stars">★★★★★</span>
                    <span class="comment__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium cum facilis perferendis placeat provident quos repellat tenetur ullam, ut voluptate!</span>
                </div>
            </div>
            <div class="comment">
                <div class="comment__avatar">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 126 126">
                        <defs>
                            <style>.a {
                                fill: #1d1d1b;
                            }
                            </style>
                        </defs>
                        <rect class="a" width="126" height="126"/>
                    </svg>
                </div>
                <div class="comment__data">
                    <span class="comment__name">Youan</span>
                    <span class="comment__stars">★★★★★</span>
                    <span class="comment__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium cum facilis perferendis placeat provident quos repellat tenetur ullam, ut voluptate!</span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
