{% extends 'novel/base.html' %}
{% block title %}{{ tag.name }}{% endblock %}
{% load static %}
{% load compress %}
{% block loadscss %}
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'css/tag.scss' %}">
    {% endcompress %}
{% endblock %}
{% block content %}
    <span id="tag" style="display: none;">{{ tag }}</span>
    <span class="sort-title"></span>
    <div class="searchByTagPage">
        <form class="tag-sort noselect" id="tagSort">
            <input type="radio" name="sort" value="-created_at" class="tag-sort__option" id="sort-1" data-input="true" checked>
            <label for="sort-1">Дата<br>загрузки</label>
            <input type="radio" name="sort" value="title" class="tag-sort__option" id="sort-2" data-input="true">
            <label for="sort-2">Имя</label>
            <input type="radio" name="sort" value="-chapters" class="tag-sort__option" id="sort-3" data-input="true">
            <label for="sort-3">Количесто<br>глав</label>
        </form>
        <div class="tag-cards" id="section">
            {% include 'novel/novel_card.html' %}
        </div>
        <div id="pagination"></div>
    <div class="loading-cover" id="loading">
        <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
    </div>
    </div>

{% endblock %}