// Imports
@import 'normalize';
@import 'fonts';

// Basic enchantment
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
*/
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
/*
 * A better looking default horizontal rule
*/

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #dedede;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
*/
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
*/

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
*/

textarea {
  resize: vertical;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

// KeyFrames
@keyframes rotateShake {
  0% {
    transform: rotate(0deg);
  }
  4% {
    transform: rotate(-10deg);
  }
  8% {
    transform: rotate(0deg);
  }
  12% {
    transform: rotate(10deg);
  }
  16%,
  100% {
    transform: rotate(0deg);
  }
}

@keyframes bounce {
  0% {
    transform: translateX(-50%) translateY(-50%);
  }
  25% {
    transform: translateX(-50%) translateY(-65%);
  }
  50% {
    transform: translateX(-50%) translateY(-50%);
  }
  75% {
    transform: translateX(-50%) translateY(-35%);
  }
  100% {
    transform: translateX(-50%) translateY(-50%);
  }
}

@keyframes scale {
  0% {
    opacity: 0;
    transform: scale(.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

// var scss
$scrollbar-bg: #72bd72;
$scrollbar-track-bg: #dedcdc;

$main-bg-color: #f3f0f2;
$second-bg-color: #fcfafa;

$main-text-color: #070707;
$second-text-color: #292929;

$btns-text-color: #23a123;
$btns-text-color-hover: #f16aa2;

$bg-2: #e8e8e8;

$authentication-bg-hover: rgba(255, 255, 255, 0.2);

$header-btn-bg-color: #ffe6f8;
$header-btn-text-color-hover: #f3167e;

$search-border-color: rgb(200, 200, 200);
$search-placeholder: #777;


$book-description-text-color: #000000;

$comments-bg-color: white;
$rate-textarea-bg-color: #fafafa;
$comment-name-color: #222;
$comment-text-color: #070707;
$textarea-border: #efefef;

$tag-color: #117511;

$rate-submit-bg-color: #f1efef;
$rate-submit-bg-color-hover: #ecebeb;
$rate-submit-border-color: transparent;

$select-border: #dadada;
$select-option-selected: #dedede;

$chapter-bg-hover: #f3f3f3;

//  Variables
:root {
  --main-bg-color: #{$main-bg-color};
  --second-bg-color: #{$second-bg-color};
  --bg-2: #{$bg-2};

  --scrollbar-bg: #{$scrollbar-bg};
  --scrollbar-track-bg: #{$scrollbar-track-bg};


  --main-text-color: #{$main-text-color};
  --second-text-color: #{$second-text-color};

  --btns-text-color: #{$btns-text-color};
  --btns-text-color-hover: #{$btns-text-color-hover};

  --authentication-bg-hover: #{$authentication-bg-hover};

  --search-border-color: #{$search-border-color};
  --search-placeholder: #{$search-placeholder};

  --header-btn-text-color-hover: #{$header-btn-text-color-hover};

  --chapter-bg-hover: #{$chapter-bg-hover};

  --comments-bg-color: #{$comments-bg-color};
  --rate-textarea-bg-color: #{$rate-textarea-bg-color};
  --comment-name-color: #{$comment-name-color};
  --comment-text-color: #{$comment-text-color};
  --textarea-border: #{$textarea-border};

  --tag-color: #{$tag-color};

  --rate-submit-bg-color: #{$rate-submit-bg-color};
  --rate-submit-bg-color-hover: #{$rate-submit-bg-color-hover};
  --rate-submit-border-color: #{$rate-submit-border-color};

  --select-border: #{$select-border};
  --select-option-selected: #{$select-option-selected}
}

// Dark theme
:root[data-colorScheme='dark'] {
  --main-bg-color: #18181a;
  --second-bg-color: #2a2a2c;
  --bg-2: #2a2a2c;

  --main-text-color: #eaeaea;
  --second-text-color: #c7c7c7;

  --btns-text-color: #cecbcb;
  --btns-text-color-hover: #f1eeee;

  --authentication-bg-hover: rgba(255, 255, 255, 0.08);

  --search-border-color: rgb(78, 78, 78);
  --search-placeholder: #a9a9a9;

  --tag-color: #d5d5d5;

  --chapter-bg-hover: #353538;

  --comments-bg-color: #2a2a2c;
  --rate-textarea-bg-color: #2a2a2c;
  --comment-name-color: #f1f1f1;
  --comment-text-color: #e7e7e7;
  --textarea-border: #444;

  --rate-submit-bg-color: #323234;
  --rate-submit-bg-color-hover: #000000;
  --rate-submit-border-color: #{$rate-submit-border-color};

  --select-border: #202020;
  --select-option-selected: #3f3f3f;

  --scrollbar-bg: #656565;
  --scrollbar-track-bg: #363636;
}

// Custom scroll
::-webkit-scrollbar {
  width: 11px;
  z-index: 1000000;
}
::-webkit-scrollbar-track {
  background: $scrollbar-track-bg;
  background: var(--scrollbar-track-bg);
  z-index: 1000000;
}
::-webkit-scrollbar-thumb {
  background: $scrollbar-bg;
  background: var(--scrollbar-bg);
  border-radius: 3px;
  z-index: 1000000;
}

div {
  box-sizing: border-box;
}

html {
  @media screen and (min-width: 700px) {
    font-size: 18px;
  }

  @media screen and (min-width: 600px) and (max-width: 699px) {
    font-size: 17px;
  }

  @media screen and (min-width: 300px) and (max-width: 599px) {
    font-size: 16px;
  }
}

// ChangeColor Scheme
.changeColorScheme {
  z-index: 40;
  width: 24px;
  height: 24px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &__moon {
    transform: rotate(0deg) scale(1);
    opacity: 1;
    z-index: 41;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: opacity 1s, transform 0.4s;
    position: absolute;


    svg {
      stroke-width: 1px;
      stroke: $btns-text-color;
      stroke-width: 1;
    }

    &_hide {
      transform: rotate(120deg) scale(0.3);
      z-index: -9999;
      opacity: 0;
    }
  }

  &__sun {
    transform: rotate(0deg) scale(1);
    transition: transform 0.4s, scale 0.6s, opacity 1s;
    z-index: 41;
    position: absolute;

    svg {
      stroke-width: 1px;
      stroke: #dad8d8;
      stroke-width: 1;
    }

    &:hover svg {
      stroke: white;
    }

    &_hide {
      transform: rotate(-50deg) scale(0.3);
      z-index: -9999;
      opacity: 0;
    }
  }
}

// Authentication
.authentication {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__btn {
    padding: 6px 12px;
    font-size: 15px;
    font-weight: 400;
    transition: all 0.3s;
    text-decoration: none;
    border-radius: 3px;
    box-sizing: border-box;
    white-space: nowrap;
    letter-spacing: 0.6px;
    text-align: center;
    border: 1px solid $btns-text-color;
    border: 1px solid var(--btns-text-color);
    color: 1px solid $btns-text-color;
    color: var(--btns-text-color);
    position: relative;
    display: inline-block;
    filter: saturate(1.1);

    @media screen and (max-width: 386px){
      padding: 6px 3px;
    }

    @media screen and (min-width: 750px) {
      transition: all 0.3s;
      &:hover {
        padding: 6px 28px 6px 12px;
        background: $authentication-bg-hover;
        background: var(--authentication-bg-hover);

        .authentication__icon {
          width: 15px;
          opacity: 1;
          right: 9px;
          margin-top: 1px;
        }
      }
    }
  }

  &__login-btn {
    margin-right: 10px;
  }

  &__icon {
    display: inline-block;
    width: 12px;
    height: 12px;
    fill: var(--btns-text-color-hover);
    position: absolute;
    right: 30px;
    opacity: 0;
    transition: 0.3s;
    top: 8px;
  }
}

.authenticated__dropdown {
  top: 60px;
  background-color: #eae5e5;
  border: 2px solid var(--btns-text-color);
  right: 0;
  border-radius: 8px;
  position: relative;
}

.dropdown {
  display: inline-block;
  position: absolute;
  z-index: 11000;
  transition: 0.25s;
  z-index: 1111;
  visibility: hidden;
  opacity: 0;
  background-color: var(--second-bg-color);
  letter-spacing: 1.3px;
  padding: 5px 0;
}

.dropdown_active {
  visibility: visible;
  opacity: 1;
}

.dropdown::before {
  content: '';
  position: absolute;
  top: -8px;
  right: 17px;
  width: 11px;
  height: 11px;
  background-color: var(--second-bg-color);
  border-top: 2px solid var(--btns-text-color);
  border-left: 2px solid var(--btns-text-color);
  transform: rotate(45deg);
}

.dropdown ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.dropdown ul li {
  padding: 6px 7px 6px 10px;
  transition: 0.2s;
}

.dropdown__icon {
  width: 20px;
  height: 20px;
  margin-bottom: 2px;
  opacity: 0.8;
  position: absolute;
  stroke: var(--btns-text-color);
  fill: var(--btns-text-color);
  transition: 0.2s;
  line {
    stroke: var(--btns-text-color);
  }
}

.dropdown ul li:hover .dropdown__icon {
  opacity: 1;
  stroke: var(--btns-text-color-hover);
  fill: var(--btns-text-color-hover);
  line {
    stroke: var(--btns-text-color-hover);
  }
}

.dropdown__link {
  display: inline-block;
  color: var(--btns-text-color);
  text-decoration: none;
  position: relative;
  left: 30px;
  top: 1px;
  font-weight: 500;
  width: 100%;
  height: 100%;
  letter-spacing: 1.3px;
  transition: 0.2s;
  padding-right: 34px;
}

.dropdown ul li:hover .dropdown__link{
  color: var(--btns-text-color-hover);
}

.authenticated {
  display: inline-block;
  position: relative;
  &__account {
    display: inline-block;
    height: 100%;
    width: 45px;
    height: 45px;
    border-radius: 10px;
    cursor: pointer;
  }
  &__account-image {
    object-fit: contain;
    width: 101%;
    height: 101%;
    border-radius: 50%;
    background-color: #f3f0f2;
    box-shadow: 0 0 5px rgba(0,0,0, 0.3);
  }
}

// Back to top button
.backToTop {
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  cursor: pointer;
  background-color: #51c551;
  background-image: linear-gradient(315deg, #a3cce1 0%, #a8e5a8 74%);
  border: none;
  border-radius: 50%;
  transition: 200ms;
  position: fixed;
  right: 5%;
  bottom: 7%;
  animation: rotateShake 5s infinite linear;

  @media (max-width:600px) {
    display: none;
  }

  &_hide {
    bottom: -10%;
  }

  svg {
    fill: white;
    width: 25px;
    height: 25px;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
  }

  &:before {
    content: 'Back to Top';
    position: absolute;
    transform: translateX(-50%) translateY(45px);
    font-size: 15px;
    transition: 200ms;
    color: transparent;
    font-weight: bold;
    font-size: 13px;
    font-weight: 400;
    width: 80px;
  }

  &:hover {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    animation: none;

    svg {
      animation: bounce 1s infinite linear;
    }
  }

  &:focus {
    outline: none;
  }
}

// Btn border animation
.btn-border-anim {
  background-color: transparent;

  &:before,
  &:after {
    content: '';
    border-style: solid;
    position: absolute;
    z-index: 6;
    border-radius: 3px;
    box-sizing: content-box;
    transition: all 0.36s;
    border-color: transparent;
  }

  &:before {
    width: 0;
    height: 100%;
    border-width: 1px 0 1px 0;
    top: -1px;
    left: 0;
    transition-delay: 0.05s;
  }

  &:after {
    width: 100%;
    height: 0;
    border-width: 0 1px 0 1px;
    top: 0;
    left: -1px;
  }

  @media screen and (min-width: 600px) {
    &:hover {
      border: 1px solid transparent;
      color: var(--btns-text-color-hover);

      &:before {
        width: 100%;
        border-color: var(--btns-text-color-hover);
      }

      &:after {
        height: 100%;
        border-color: var(--btns-text-color-hover);
      }
    }
  }
}

.btn {
  cursor: pointer;
  display: flex;
  position: relative;
  opacity: 0.999;
  text-decoration: none;
  border-radius: 3px;
  transition: all 0.3s;
  box-sizing: border-box;
  letter-spacing: 0.8px;
  font-size: 15px;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
}

/*
 *  base.html
*/
body
{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: $main-bg-color;
  background-color: var(--main-bg-color);
  color: $main-text-color;
  color: var(--main-text-color);
  font-family: Montserrat, serif;
  letter-spacing: 0.5px;
  position: absolute;
}

.site-container {
  width: 100%;
  height: 100%;
  position: absolute;
  max-width: 100%;
  left: 0;
  right: 0;
}

h1 {
  font-size: 18px;
  font-weight: 500;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 62px;
  background-color: $second-bg-color;
  background-color: var(--second-bg-color);
  border-bottom: solid 1px rgba(107, 107, 107, 0.16);
  box-shadow: 0 2px 6px rgba(120, 135, 118, 0.18);
  &__limiter {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    max-width: 1000px;
    padding: 0 20px;
    margin: 0 auto;
    height: 100%;
    box-sizing: border-box;
    @media screen and (max-width: 1000px){
      padding: 0 calc(3px + 2vmin);
    }
  }

  &__logo_mobile {
    display: none;
    width: 36px;
    min-width: 36px;
    height: 36px;
    img {
      width: 100%;
      height: 100%;
    }
    @media screen and (max-width: 930px) {
      display: inline-block;
    }
    @media screen and (max-width: 316px) {
      display: none;
    }
  }

  &__logo {
    display: block;
    height: 100%;
    max-width: 140px;
    min-width: 150px;
    filter: brightness(1.2) contrast(0.9);
    @media screen and (max-width: 930px){
      display: none;
    }
    svg {
      width: 100%;
      height: 100%;
      transition: fill 0.2s;
      fill: $btns-text-color;
      fill: var(--btns-text-color);

      &:hover {
        fill: $btns-text-color-hover;
        fill: var(--btns-text-color-hover);
      }
    }
  }

  &__left-container {
    display: flex;
    align-items: center;
  }

  &__menu {
    display: flex;
    align-items: center;
    margin: 0 20px;
    flex-grow: 1;
    z-index: 112;
    transition-duration: .2s;

    &-container {
      display: flex;
      align-items: center;
      @media screen and (max-width: 680px){
        flex-direction: column;
        align-items: flex-start;
        margin: 0 auto;
      }
    }

    @media screen and (max-width: 680px){
      position: absolute;
      background-color: var(--second-bg-color);
      top: -200px;
      width: 100%;
      margin: 0;
      left: 0;
      right: 0;
      padding: 5px 0 8px 0;
      z-index: 55;
      opacity: 0;
      box-shadow: 0 6px 6px rgba(70, 70, 70, 0.12);
    }

    &-icon {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      &_catalog {
        background-color: #f3e2cb;
        padding: 11px 7px 7px 7px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          stroke: #f6ad5a;
        }
      }
      &_tags {
        background-color: #d9e5f8;
        box-sizing: border-box;
        padding: 8px 7px 7px 7px;
        svg {
          stroke: #4f78ce;
        }
      }
      &_contacts {
        background-color: #daf5f5;
        padding: 7px;
        box-sizing: border-box;
        svg {
          fill: #69c5c2;
        }
      }
    }

    &-item {
      display: flex;
      align-items: center;
      &:hover span {
        color: $btns-text-color-hover;
        color: var(--btns-text-color-hover);
      }
    }

    &-link {
      padding: 6px;
      text-decoration: none;
      transition: 0.2s;
      display: flex;
      align-items: center;
      span {
        margin-left: 5px;
        letter-spacing: 1.3px;
        font-size: 16px;
        font-weight: 500;
        color: $btns-text-color;
        color: var(--btns-text-color);
      }
    }
  }

  &__changeColorScheme {
    margin-right: 8px;
    margin-right: calc(3px + 2vmin);
  }
}

#menuToggle {
  opacity: 0;
  display: none;
  width: 0;
  height: 0;
  @media screen and (max-width: 680px){
    display: inline-block;
  }
}

#menuToggle:checked ~ .hamburger-menu__btn > span {
  transform: rotate(45deg);
}

#menuToggle:checked ~ .hamburger-menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}

#menuToggle:checked ~ .hamburger-menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

.hamburger-menu__btn {
  display: none;
  align-items: center;
  position: relative;
  width: 26px;
  min-width: 26px;
  height: 26px;
  left: 15px;
  left: calc(7px + 2vmin);
  cursor: pointer;
  @media screen and (max-width: 680px){
    display: flex;
  }
}

.hamburger-menu__btn > span,
.hamburger-menu__btn > span::before,
.hamburger-menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;

  background-color: var(--btns-text-color);
}

.hamburger-menu__btn > span::before {
  content: '';
  top: -8px;
}

.hamburger-menu__btn > span::after {
  content: '';
  top: 8px;
}

#menuToggle:checked ~ .header__menu {
  top: 56px;
  opacity: 1;
  display: flex;
}

.filler {
  flex: 1 1 auto;
}

.footer {
  height: 30px;
}

.page {
  width: 100%;
  &__limiter {
    max-width: 1000px;
    width: 100%;
    padding: 30px 20px 0 20px;
    margin: 55px auto 0 auto;
    height: 100%;
    box-sizing: border-box;
    @media screen and (max-width: 1000px){
      padding: 30px calc(5px + 1vw) 0 calc(5px + 1vw);
    }
  }

  &__col-1 {
    width: 100%;
  }

  &__col-2 {
  }
}

.flex-container {
  width: 100%;
  display: flex;
}

/*
 * novel_card.html
*/
.bookCard {
  padding: 0.994rem 1.014rem 1.008rem 1.011rem;
  background-color: $second-bg-color;
  background-color: var(--second-bg-color);
  margin-bottom: 17px;
  position: relative;
  box-shadow: 0 2px 11px -1px rgba(0, 0, 0, 0.24);
  @media screen and (max-width: 550px){
    padding: 0.8rem 0.78rem 0.82rem 0.71rem;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
  }

  &__column-1 {
    flex: 1 1 24%;
    max-width: 130px;
    display: flex;
    flex-direction: column;
  }

  &__column-2 {
    flex: 1 1 70%;
    padding-left: 0.85rem;
    display: flex;
    flex-direction: column;
  }

  &__image {
    width: 100%;
    display: inline-block;
    box-shadow: 1px 3px 6px 1px rgba(0, 0, 0, 0.14);
    object-fit: fill;
    position: relative;
    img {
      width: 100%;
      height: 100%;
    }
  }

  &__title {
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
    color: $main-text-color;
    color: var(--main-text-color);
    font-weight: 500;
  }

  &__adultOnly {
    color: #d73e3e;
    display: inline-block;
  }

  &__metaData {
    color: $second-text-color;
    color: var(--second-text-color);
    margin-top: 0.30rem;
    font-size: 0.83rem;
  }

  &__author {
    position: relative;
    text-decoration: none;
    color: $second-text-color;
    color: var(--second-text-color);

    &:after {
      content: '';
      display: inline-block;
      width: 4px;
      border-radius: 4px;
      height: 4px;
      margin: 0 5px;
      transform: translate(2px, -3px);
      background-color: $second-text-color;
      background-color: var(--second-text-color);
    }
  }

  &__numWords {
    position: relative;

    &:after {
      content: '';
      display: inline-block;
      width: 4px;
      border-radius: 4px;
      height: 4px;
      margin: 0 5px;
      transform: translate(2px, -3px);
      background-color: $second-text-color;
      background-color: var(--second-text-color);
    }
  }

  &__status {
    position: relative;
  }

  &__tags {
    margin-top: 0.38rem;
  }

  &__tag {
    display: inline-block;
    padding: 0.11rem 0.27rem;
    border-radius: 8px;
    font-size: 0.77rem;
    font-weight: 400;
    text-decoration: none;
    color: $second-text-color;
    color: var(--second-text-color);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
    margin-bottom: 0.33rem;
    margin-left: 0.20rem;
    background-color: var(--second-bg-color);

    &:hover {
      filter: brightness(0.98);
    }
  }

  &__btn {
    padding: 12px 0;
    font-weight: 500;
    margin-top: 8px;
    width: 100%;
    border: 1px solid $btns-text-color;
    border: 1px solid var(--btns-text-color);
    color: $btns-text-color;
    color: var(--btns-text-color);
    font-size: 0.8rem;

    &:active {
      transform: scale(0.94);
      background-color: var(--authentication-bg-hover);
    }
  }

  &__description {
    margin-top: 0.66rem;
    padding-left: 2px;
    color: var(--main-text-color);
    font-size: 0.83rem;
    text-align: justify;
    @media screen and (max-width: 699px) {
      font-size: 0.92rem;
    }
  }

  &__uploadTime {
    margin-left: 5px;
    margin-top: 12px;
    color: grey;
    font-size: 14px;
  }
}

.pagination{
}

.step-links {
  display: flex;
  justify-content: center;
  span {
    text-decoration: none;
    color: var(--main-text-color);
    padding: 4px 10px;
    background-color: #d9d9d9;
    display: inline-block;
    margin-left: 5px;
    border-radius: 2px;
    cursor: pointer;
  }
  span:hover {
    color: #409eff;
  }
}

span.pagination__current-page {
  background-color: #409eff;
  color: var(--main-bg-color);
  cursor: default;
  &:hover {
    color: var(--main-bg-color);
  }
}

span.pagination__rewind_back {
  width: 35px;
  text-align: center;
  padding: 4px 0;

  &:after {
    content: '…';
    @media screen and (max-width: 780px) {
      content: '<<';
    }
  }
  &:hover:after {
    content: '<<';
  }
}

span.pagination__rewind_forward {
  width: 35px;
  text-align: center;
  padding: 4px 0;

  &:after {
    content: '…';
    @media screen and (max-width: 780px) {
      content: '>>';
    }
  }
  &:hover:after {
    content: '>>';
  }
}

/* ==========================================================================
Helper classes
========================================================================== */
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

/*
 * Hide visually
*/

.hidden,
[hidden] {
  position: absolute !important;
  top: -9999em;
  overflow: hidden;
  height: 1px;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
*/
.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}


/*
 * Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
*/

.clearfix::before,
.clearfix::after {
  content: ' ';
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: ' (' attr(href) ')';
  }

  abbr[title]::after {
    content: ' (' attr(title) ')';
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^='#']::after,
  a[href^='javascript:']::after {
    content: '';
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
