/*
 *
 * novel_page.html
 *
*/
.book {
  background-color: var(--second-bg-color);
  overflow: hidden;
  padding-bottom: 20px;
  &__image {
    flex: 0 0 130px;
    @media screen and (max-width: 570px) {
      padding: 5px 30px 0 30px;
    }
  }
}

.info {
  background-color: var(--second-bg-color);
  padding: 1.11rem;
  @media screen and (max-width: 351px){
    padding: 0.5rem;
  }
  border-radius: 3px 3px 0 0;
  -webkit-box-shadow: -8px -5px 8px rgba(0,0,0,0.14), 8px -5px 8px -5px rgba(0,0,0,0.14);
  box-shadow: -8px -5px 8px -5px rgba(0,0,0,0.14), 8px -5px 8px -5px rgba(0,0,0,0.14);
  &__description {
    margin-top: 0.66rem;
    color: var(--main-text-color);
    font-size: 15px;
    text-align: justify;
    padding: 0.38rem 0 0.55rem 0;
  }
  &__flex-container {
    display: flex;
    @media screen and (max-width: 570px) {
      display: block;
    }
  }
}

.info-bg {
  position: absolute;
  width: 600%;
  height: 60%;
  top: 0;
  right: 50%;
  transform: translateX(50%);
  z-index: -5;
}

html[data-colorscheme="dark"] {
  .info-bg {
    display: none;
  }
}

.page__col-1 {
  width: 100%;
}

// Meta book
.meta {
  padding: 0 0 0 1rem;

  @media screen and (max-width: 570px) {
    padding: 16px 0 0 0;
  }

  &__title {
    font-size: 17px;
    font-weight: 500;
    margin: 0 0 6px 0;
    color: var(--main-text-color);
  }

  &__tags {
    margin-top: 6px;
    font-size: 14px;
    color: var(--second-text-color);
  }

  &__tag {
    background-color: var(--second-bg-color);
    margin-right: 4px;
  }

  &__btn {
    display: flex;
    align-items: center;
    margin: 0 10px 0 0;
    color: var(--btns-text-color);
    border: 1px solid var(--btns-text-color);
    padding: 0 10px;
    height: 48px;
    background-color: var(--second-bg-color);
    font-weight: 500;
  }

  &__altTitle {
    margin: 0 0 0 0;
    color: var(--second-text-color);
    font-size: 15px;
  }

  &__updated-data {
    font-size: 15px;
    margin: 6px 0 0 0;
    color: var(--second-text-color);
    a:hover {
      text-decoration: underline;
    }
  }

  &__author {
    font-size: 15px;
    text-decoration: none;
    color: var(--second-text-color);
    margin: 6px 0 0 0;
  }
  &__author span:hover {
    text-decoration: underline;
  }

  &__words-count {
    font-size: 15px;
    color: var(--second-text-color);
    margin: 6px 0 0 0;
  }

  &__tag {
    background-color: var(--second-bg-color);
  }

  &__status {
    font-size: 15px;
    color: var(--second-text-color);
    margin: 6px 0 0 0;
  }
}

.buttons {
  margin-top: 10px;
  display: flex;
}

.chapters {
  margin: 1.13rem 0.7rem 0 1.11rem;
  @media screen and (max-width: 351px) {
    margin: 1rem 0.3rem 0 0.5rem;
  }
  h2 {

    font-size: 18px;
    font-weight: 500;
  }
}

.chapters-box {
  overflow: auto;
  white-space: nowrap;
  height: 308px;
  width: 100%;
  max-width: 700px;
  border: 1px solid #c0bebe;
}

.chapter {
  display: block;
  background-color: var(--second-bg-color);
  padding: 16px 10px;
  text-decoration: none;
  color: var(--second-text-color);
  border-bottom: 1px solid #d5d5d5;
  &:hover {
    background-color: var(--chapter-bg-hover);
  }
}

// Comments block styles
.rate__title {
  color: var(--main-text-color);
  font-size: 18px;
  font-weight: 500;
  margin: 35px 0 15px 0;
}

.rate__stars {
  display: inline-block;
  margin: 0;
  height: 36px;
  padding: 0 0 0 7px;
}

.rate__stars:not(:checked) > input {
  display: none;
}

.rate__stars:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}

.rate__stars:not(:checked) > label:before {
  content: '★ ';
}

.rate__stars > input:checked ~ label {
  color: #ffc700;
}

.rate__stars:not(:checked) > label:hover,
.rate__stars:not(:checked) > label:hover ~ label {
  color: #deb217;
}

.rate {
  max-width: 700px;
  margin: 1.13rem 0.7rem 0 1.11rem;
  @media screen and (max-width: 351px){
    margin: 1rem 0.3rem 0 0.5rem;
  }
}

.help-text {
  font-size: 0.9rem;
  margin-left: 1.05rem;
  color: var(--search-placeholder);
}

.rate__textarea {
  display: block;
  width: 100%;
  border-radius: 3px;
  resize: none;
  background-color: var(--rate-textarea-bg-color);
  border: 1px solid var(--textarea-border);
  outline: none;
  box-shadow: 1px 1px 11px 2px rgba(0, 0, 0, 0.16);
  padding: 10px 10px;
  color: var(--main-text-color);
  box-sizing: border-box;
  height: 110px;

  &::placeholder {
    font-size: 15px;
  }
}


.rate__row {
  padding-top: 14px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rate__submit {
  margin-top: 10px;
  color: white;
  height: 35px;
  float: right;
  border-radius: 3px;
  border: none;
  background-color: #5d9d5d;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  padding: 17px 18px;
  &:active {
    transform: scale(0.95);
  }
  &:hover {
    filter: brightness(0.97);
  }
}


.comments {
  margin-top: 3.4rem;
  padding: 0 1rem 0 1rem;
  width: 100%;
  min-height: 150px;
  box-sizing: border-box;
}

.rate__textarea:focus {
  border: 1px solid #1aa81a;
}


.comment {
  padding: 16px 10px 0 0;
  &__avatar {
    display: inline-block;
    flex: 0 0 65px;
    height: 65px;
    border-radius: 50%;
  }

  &__data {
    margin-left: 15px;
    padding-bottom: 6px;
    flex: 1 1 auto;
  }

  &__name {
    color: var(--main-text-color);
    font-weight: 500;
    font-size: 16px;
    display: inline-block;
    color: var(--main-text-color);
    word-break: break-all;
    overflow: hidden;
  }

  &__created {
    font-size: 13px;
    margin-left: 6px;
    color: #757575;
  }


  &__text {
    padding-bottom: 4px;
    margin-top: 4px;
    padding-left: 2px;
    display: block;
    font-size: 15px;
    font-weight: 400;
    color: var(--main-text-color);
    word-break: break-all;
    overflow: hidden;
  }
}

.toggle-reply-btn {
  display: inline-block;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  width: 176px;
  color: #757575;
  cursor: pointer;
  margin-left: 6px;
  border: none;
  background: none;
  padding: 0;
  margin-top: 4px;
  svg {
    fill: #757575;
    padding-right: 4px;
  }
}

.replies {
  margin-left: 16px;
  //border-left: 1px solid #d5d5d5;
  &:first-child {
    border:none;
  }
}


.comment__reply-msg {
  margin-top: 3px;
  margin-left: 7px;
  display: flex;
  align-items: center;
  font-weight: 300;
  filter: brightness(0.8);
  display: none;
  svg {
    fill: var(--main-text-color);
    margin-right: 1px;
    margin-bottom: 4px;
  }
  span {
  }
}


.margin-off {
  margin: 0;
  border: none;
}

.display-on {
  display: block;
}

@media (max-width:600px) {
  .mobile-margin-off {
    margin: 0;
    border: none;
  }
  .mobile-display-on {
    display: block;
  }
}

.comment__buttons {
  margin-left: 4px;
  margin-top: 4px;
  display: inline-block;
}

.comment__buttons-response {
  margin-left: 5px;
  cursor: pointer;
}

.heart {
  stroke: var(--main-text-color);
  fill: transparent;
  cursor: pointer;
}

.heart_pressed {
  fill: red;
  stroke: red;
}

.likeButton {
  display: inline-block;
  z-index: 10;
  position: relative;
  svg {
    z-index: 1;
    position: relative;
  }
}

#likeTotal {

}

#commentTextAreaContainer {
  position: relative;
  margin-top: 20px;
}

#rateTextareaParentBlock {
  display: inline-block;
  left: 10px;
  top: 10px;
  background-color: #a4a4a4;
  margin-bottom: 10px;
  padding: 4px 6px;
}

.chapter-wrap {
  position: relative;
}

.chapter-edit {
  position: absolute;
  right: 6px;
  top: 50%;
  transform: translateY(-50%);
}

.flex-container {
  @media  {
    
  }
}