
.page {
    width: 100%;
    display: flex;
}

.field-wrapper {
    margin-top: 16px;
}

input {
    padding: 0 12px;
    width: 100%;
    box-sizing: border-box;
    height: 46px;
    border: 2px solid var(--search-border-color);
    border-radius: 4px;
    padding: 0 12px;
    outline: none;
    box-sizing: border-box;
    color: var(--main-text-color);
    font-weight: normal;
    background-color: var(--second-bg-color);
    &:focus {
        border: 2px solid var(--authentication-border-color);
    }
    &::placeholder {
        font-size: 15px;
        color: var(--search-placeholder);
    }
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: 2px solid var(--search-border-color);
    -webkit-text-fill-color: var(--main-text-color);
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px var(--second-bg-color) inset;
    color: var(--main-text-color);
}

.field-name {
    display: inline-block;
    width: 240px;
}

.page__col-1 {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    width: 100%;
    text-align: center;
    justify-content: center;
}

.authentication-form {
    padding: 10px;
    background-color: #e8e8e8;
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    max-width: 540px;
    margin: 0 auto;
    transform: translateY(-5%);
}

.form-submit {
    margin-top: 16px;
    width: 100%;
    height: 40px;
    background-color: #5d9d5d;
    outline: none;
    border: none;
    margin-bottom: 8px;
    color: white;
}

.form-submit:hover {
    filter: brightness(0.92);
}

.page__col-1 {
    flex-direction: column;
    p {
        position: relative;
        bottom: 20px;
    }
}

.errors {
    color: red;
    li {
        text-align: left;
    }
}