{% extends 'novel/base.html' %}
{% block title %}Авторизация{% endblock %}
{% load static %}
{% load compress %}
{% block loadscss %}
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'css/authentication.scss' %}">
    {% endcompress %}
{% endblock %}
{% block content %}
    {% if form.errors %}
        <p>{{ form.errors }}</p>
    {% endif %}

    {% if user.is_authenticated %}
        <p>Вы авторизованы как {{user.username}}</p>
    {% else %}
    {% if next %}
        <p>Пожалуйста, авторизуйтесь чтобы увидеть эту страницу.</p>
    {% endif %}
        <div class="authentication-form">
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {% for field in form %}
                    <div class="field-wrapper">
                        <div class="errors">
                            {{ field.errors }}
                        </div>
                        {{ field }}
                    </div>
                {% endfor %}
{#                {% if request.GET.next %}#}
{#                    <input type="hidden" name="next" value="{{ request.GET.next }}" />#}
{#                {% endif %}#}
                <button type="submit" value="Login" class="form-submit">Войти</button>
                <input type="hidden" name="next" value="{{ next }}">
            </form>
        </div>
    {% endif %}
{% endblock %}