{% extends 'novel/base.html' %}
{% block title %}Авторизация{% endblock %}
{% load static %}
{% load compress %}
{% block loadscss %}
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'css/authentication.scss' %}">
    {% endcompress %}
{% endblock %}
{% block content %}
    {% if form.errors %}
        <p>{{ form.errors }}</p>
    {% endif %}

    {% if user.is_authenticated %}
        <p>Вы авторизованы как {{user.username}}</p>
    {% else %}
    {% if next %}
        <p>Пожалуйста, авторизуйтесь чтобы увидеть эту страницу.</p>
    {% endif %}
        <div class="login-form-wrap">
            <form method="post" action="{% url 'login' %}" class="login-form">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn btn-border-anim" value="Login">
                <input type="hidden" name="next" value="{{ next }}">
            </form>
        </div>
    {% endif %}
{% endblock %}